*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #14181c;
    color: white;
    font-family:  Arial;
}

header {
    
    
    background-image: linear-gradient(to right, rgba(0, 76, 255, 0.486), rgba(255, 0, 128, 0.28));
      
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.logo{
    color: #e0a400;
    font-size: 5rem;
    font-weight: 1000;
    text-decoration: none;
    font-size: 32px;
}

.film-icon{
    font-size: 1.5rem;
    color: #e0a400;
    margin-top: 5px;
    margin-right: 10px;

}

.container {
    max-width: 100%;
    margin:  auto;
    padding:  1rem;
}




.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding:  1rem;
}

.category-title {
    font-size: 2rem;
    color: #e0a400;
    font-weight: 700;
    padding-left: 26px;
}



.movie-row {
    display: flex;
    
    justify-content: space-evenly;
    
}



.movie-card {
    flex: 0 0 160px;
    position: relative;
    transition: transform 0.2s;
    text-decoration: none;
}

.movie-card:hover {
    transform: translateY(-5px);
    
    
}

.movie-poster {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.movie-info {
    padding: 0.5rem ;
}

.movie-title {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    
    
    
}

.movie-year {
    color: #89a;
    font-size: 0.8rem;
}

.rating {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e0a400;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8rem;
    
}
a .movie-title{
   color: white;
}
a .rating{
    color: white;
}



