*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #02230f;
    color: white;
    font-family:  Arial;
    border: 9px solid #023e2a;
}
/* 
header {
    
    
    background-image: linear-gradient(to right, rgba(23, 45, 23, 0.955), rgb(19, 94, 19));
      
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 3px solid rgba(198, 185, 167, 0.595);
}
.logo{
    color: #ffffff;
    font-size: 5rem;
    font-weight: 1000;
    text-decoration: none;
    font-size: 32px;
}

.film-icon{
    font-size: 1.5rem;
    color: #efeae4;
    margin-top: 5px;
    margin-right: 10px;

} */

.container {
    max-width: 100%;
    margin:  auto;
    padding:  1rem;
}




.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding:  1rem;
    background-color: rgba(236, 223, 223, 0.099);
    border: 2px solid rgba(198, 185, 167, 0.595);
}

.category-title {
    font-size: 2rem;
    color: #efeae4;
    font-weight: 700;
    padding-left: 26px;
}



.movie-row {
    display: flex;
    
    justify-content: space-evenly;
    
}



.movie-card {
    flex: 0 0 160px;
    position: relative;
    transition: transform 0.2s;
    text-decoration: none;
    
}


.movie-card:hover {
    transform: translateY(-5px);   
}

.movie-poster {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    
}
.movie-poster:hover{
    border: 3px solid whitesmoke;
    transition: all ease-out 0.5s;
}
.movie-info:hover{
    border: 1.5px solid whitesmoke;
}

.movie-info {
    padding: 0.5rem ;
}

.movie-title {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    
    
    
}

.movie-year {
    color: rgb(250, 250, 250);
    font-size: 0.8rem;
}

.rating {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #006241;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8rem;
    
}
a .movie-title{
   color: white;
}
a .rating{
    color: white;
}
.titletop{
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Places items at extreme ends */
    padding: 20px;
    background-image: linear-gradient(to right, rgba(23, 45, 23, 0.955), rgb(19, 94, 19));
    border: 2px solid wheat;
    
}


.film-icon {
    font-size: 1.5em;
    color: #efeae4;
    
}


.logo {
    font-size: 40px;
    text-decoration: none;
    color: #efeae4;
    margin-left: 10px;
    font-weight: bold;
    
}


.about-us {
    margin-left: auto; 
    
    
}

.about {
    text-decoration: none;
    font-size: 16px;
    color: #efeae4;
    font-style: italic;
    text-decoration: underline;
}

.websitereview{
    text-decoration: none;
    font-size: 16px;
    color: #efeae4;
    font-style: italic;
    text-decoration: underline;
}




