*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #14181c;
    color: #fff;
    font-family:  sans-serif;
}

header {
    background-color: #1b2228;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
}